<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jozsef.myweekend" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material" >
        <activity
            android:name=".androidCode.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".androidCode.NewUser">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jozsef.myweekend.androidCode.NewUser" />
        </activity>

        <activity android:name=".androidCode.SortMenu">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".androidCode.SortMenu" />
        </activity>

        <activity android:name=".androidCode.Event_List">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".androidCode.Event_List" />
        </activity>

        <activity android:name=".androidCode.EventPage">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jozsef.myweekend.androidCode.EventPage" />
        </activity>

        <activity android:name=".androidCode.Create_Event">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".androidCode.Create_Event" />
        </activity>

        <activity android:name=".androidCode.Search">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".androidCode.Create_Event" />
        </activity>

    </application>

</manifest>
